<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SystemMapper" >
  <resultMap id="BaseResultMap" type="com.model.System" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="osver" property="osver" jdbcType="VARCHAR" />
    <result column="cpu" property="cpu" jdbcType="VARCHAR" />
    <result column="memory" property="memory" jdbcType="VARCHAR" />
    <result column="graphicscard" property="graphicscard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, osver, cpu, memory, graphicscard
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.System" >
    insert into system (id, osver, cpu, 
      memory, graphicscard)
    values (#{id,jdbcType=INTEGER}, #{osver,jdbcType=VARCHAR}, #{cpu,jdbcType=VARCHAR}, 
      #{memory,jdbcType=VARCHAR}, #{graphicscard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.System" >
    insert into system
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="osver != null" >
        osver,
      </if>
      <if test="cpu != null" >
        cpu,
      </if>
      <if test="memory != null" >
        memory,
      </if>
      <if test="graphicscard != null" >
        graphicscard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="osver != null" >
        #{osver,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="memory != null" >
        #{memory,jdbcType=VARCHAR},
      </if>
      <if test="graphicscard != null" >
        #{graphicscard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.System" >
    update system
    <set >
      <if test="osver != null" >
        osver = #{osver,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null" >
        cpu = #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="memory != null" >
        memory = #{memory,jdbcType=VARCHAR},
      </if>
      <if test="graphicscard != null" >
        graphicscard = #{graphicscard,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.System" >
    update system
    set osver = #{osver,jdbcType=VARCHAR},
      cpu = #{cpu,jdbcType=VARCHAR},
      memory = #{memory,jdbcType=VARCHAR},
      graphicscard = #{graphicscard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>